<context>
Repository: {{ repo_owner }}/{{ repo_name }}
Issue number: #{{ issue_number }}

<issue>
<title>{{ issue_title }}</title>
<body>
{{ issue_body }}
</body>
<existing_comments>
{{ issue_comments }}
</existing_comments>
</issue>
</context>
